<header class="hero-header" >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi distinctio quibusdam ea maiores, sapiente saepe asperiores exercitationem? Officia possimus dolor veritatis? Laborum id amet reprehenderit similique culpa sapiente dignissimos.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab matTooltip="Accent" color="accent" aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- <button mat-fab extended color="accent">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button> -->
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <!-- <div class="form-container">

    <mat-form-field class="form-input-selector">
      <mat-label>Select Language</mat-label>
      <mat-select>
        <mat-option value="one">Python</mat-option>
        <mat-option value="two">TypeScript</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-input-selector">
      <mat-label>Select Pattern</mat-label>
      <mat-select>
        <mat-option value="one">Class</mat-option>
        <mat-option value="two">Interface</mat-option>
      </mat-select>
    </mat-form-field>


  </div> -->

</header>
