.hero-header{
  position: relative;
  padding-top: 16px;
  margin: auto;
  width: 100%;
  height: 300px;
  min-height: 300px;
}

// .form-container{
//   position: relative;
//   margin: auto;
//   width: 70%;
//   display: flex;
//   justify-content: center;

//   .form-input-selector{
//     position: relative;
//     margin: auto;
//     width: 100%;
//     max-width: 400px;
//   }
// }

// @media (max-width: 1250px) {

//   .form-container{
//     position: relative;
//     margin: auto;
//     width: 100%;
//     display: flex;
//     justify-content: center;

//     .form-input-selector{
//       position: relative;
//       margin: auto;
//       width: 100%;
//       max-width: 300px;
//     }
//   }

// }

