<div class="main-container">

  <app-herocontainer></app-herocontainer>

  <mat-divider></mat-divider>

 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>
 <app-cardcode></app-cardcode>

</div>
